/**
 * Variables
 */

// Colors
$white:       #FFFFFF;
$grey:        #282727;
$grey2:       #6d6d6d;
$black:	      #000000;
$blue:	      #020032;
$light-blue:	#001965;
$lighter-blue:#249AD1;
$color-transparent: transparent;

$primary-color: $blue;
$secondary-color: $light-blue;
$third-color: $lighter-blue;


// Paths
$font: "../../fonts";
$image: "../../img";
$font-family: Arial;

//sizes
$size-bigest: 1200px;
$size-web: 1024px;
$size-large: 980px;
$size-tablet: 768px;
$size-tablet-content: 620px;
$size-content: 930px;
$size-cell: 324px;
