/**
 * Footer styles
 */

 .footer {
   width: 100%;
   background: $primary-color;
   min-height: 10px;
   color: $white;
   height: 50px;
   text-align: center;
   padding: 10px 0 0;
   order: 1;
 }
